/* pretty please keep all styles in here, not in the html */
/* help me */
body {
    background-image: url("../images/mat.jpg");
    text-shadow: 0 0 20px #fff;
    text-align: center;
    font-size: xx-large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  input[type=checkbox] {
    display: none;
  }
  
  .container img {
    margin: 100px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  
  input[type=checkbox]:checked ~ label > img {
    transform: scale(2);
    cursor: zoom-out;
  }