#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 5px;
    color: #4CAF50; /* Changed to a solid color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow for uniqueness */
}

.rainbow_text_animated {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 5px;
    color: #4CAF50; /* Changed to a solid color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow for uniqueness */
}

.rainbow_navbar_text_animated {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    letter-spacing: 5px;
    color: #4CAF50; /* Changed to a solid color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow for uniqueness */
}
