/* pretty please keep all styles in here, not in the html */
/* help me */
body {
    background-image: url("mat.jpg");
    text-shadow: 0 0 20px #fff;
    text-align: center;
    font-size: xx-large;
}

